*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #121212;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navleft{

    display: flex;
    align-items: center;

}

#navright{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#title{
    font-weight: bold;
    margin: 25px;
    font-size: 40px;
    color: #696969;
}
body{
    background-color: #696969;
    background-image: url(images/anime-night-sky-illustration.jpg);
    background-size: cover;
    opacity: 1;
    filter: brightness(100%);
}
.items{
    padding: 10px;
    color:#696969 ;
    font-size: 25px;
}
#middle{
  width: 700px;
  height: 500px;
  /* background-image: url(images/both.jpg) ; */
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0px 8px black;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 100%;
  filter: brightness(100%);
  
}
#container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.text{
    text-align: center;
    line-height: 25px;
    font-size: 22px;
    margin: 30px;
    color: white;
    font-weight: bold;
    /* text-shadow: 
    0 0 25px white;   */
    
}
.browse {
        display: inline-block; /* Ensures it behaves like a button */
        margin-top: 20px; /* Space between the paragraph and button */
        padding: 10px 20px; /* Padding for the button */
        font-size: 18px; /* Font size for the button text */
        text-decoration: none; /* Remove underline from the link */
        color: #fff; /* Button text color */
        background: linear-gradient(145deg,rgb(7, 7, 97),rgb(13, 11, 11)); /* Button background color */
        border-radius: 5px; /* Rounded corners */
        text-align: center; /* Center-align text inside the button */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Button shadow */
        transition: all 0.3s ease; /* Smooth hover effect */
        border: 1px solid white;
}
.browse:hover {
    background-color: #FF6347; /* Slightly lighter color on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Deeper shadow on hover */
}
    
img{
    height: 60px;
}