* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #23252B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; 
}

#navleft {
    display: flex;
    align-items: center;
}

#navright {
    display: flex;
    align-items: center;
}

.items {
    color: white;
    margin: 0 15px;
    cursor: pointer;
    font-size: 16px;
}

#title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
}

/* Carousel Background Image Merge */
.carousel, .carousel-inner, .carousel-item, .carousel-item img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 60px); 
}

.carousel-item img {
    object-fit: cover;
}
.carousel-item img {
    width: 100%;
    height: 100vh; 
    object-fit: cover; 
}

.carousel-item {
    position: relative;
}

.carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, black 100%);
    z-index: 1; /* Ensures the gradient overlay appears above the image */
}

.carousel-caption {
    position: absolute;
    bottom: 20%;
    z-index: 2; 
    text-align: center;
    color: white;
}

/* Slide fade Effect */
.carousel-item {
    opacity: 0; /* Start invisible */
    transition: opacity 2s ease-in-out; /* Smooth transition for fade */
}

.carousel-item.active {
    opacity: 1; /* Fade in when active */
}

