@font-face {
    font-family: 'Chainsaw'; /* Name of the font */
    src: url('Fonts/font-to-a-chainsaw/FontToAChainsaw.otf') format('opentype'); /* Path to the font file */
}
@font-face {
    font-family: 'Monarcha'; /* Name of the font */
    src: url('Fonts/Monarcha/Monarcha\ Regular.ttf') format('opentype'); /* Path to the font file */
    
}
@font-face {
    font-family: 'Hollow-Fate'; /* Name of the font */
    src: url('Fonts/HollowFont/ChalklineOutline-AjZM.otf') format('opentype'); /* Path to the font file */
}
@font-face {
    font-family: 'Cabazon'; /* Name of the font */
    src: url('Fonts/Cabazon/Cabazon.ttf') format('opentype'); /* Path to the font file */
}
@font-face {
    font-family: 'Dutch'; /* Name of the font */
    src: url('Fonts/1756Dutch/1756Dutch.ttf') format('opentype'); /* Path to the font file */
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #23252B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; 
}

#navleft {
    display: flex;
    align-items: center;
}

#navright {
    display: flex;
    align-items: center;
}

.items {
    color: white;
    margin: 0 15px;
    cursor: pointer;
    font-size: 16px;
}

#title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
}

/* Carousel Background Image Merge */
.carousel, .carousel-inner, .carousel-item, .carousel-item img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 60px); 
}

.carousel-item img {
    object-fit: cover;
}
.carousel-item img {
    width: 100%;
    height: 100vh; 
    object-fit: cover; 
}

.carousel-item {
    position: relative;
}

.carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, black 100%);
    z-index: 1; /* Ensures the gradient overlay appears above the image */
}

.carousel-caption {
    margin:0;
    bottom: 15%;
    right:70%;
    z-index: 2; 
    color: white;
    width:350px;
    text-align: left;
}
.carousel-caption>h2,a{
    text-align: center;

}


/* Slide fade Effect */
.carousel-item {
    opacity: 0; /* Start invisible */
    transition: opacity 2s ease-in-out; /* Smooth transition for fade */
}

.carousel-item.active {
    opacity: 1; /* Fade in when active */
}


.glowing-line {
    margin: 10px auto; /* Adds space above and below the line */
    width: 80%; /* Adjust width */
    height:2px;
    background-color: white;
    box-shadow: 0 0 3px rgb(3, 251, 222);
    border-radius: 2px;
    
}
.btn{
    background-color: rgb(195, 72, 0);
    background-size: cover;
    padding:5px;
    border:5px solid black;
}
.carousel-caption p{
    text-shadow: 0 0 3px black;
    font-size:18px;
}